@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:wght@100..900&display=swap');

@media screen  and (min-width:320px) and (max-width:480px) {
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }

      .wrapper{
        width: 100vw;
        height: 236.063rem;
        margin: 0 0 40.063rem;
        padding: 0 0 0.438rem;
        object-fit: contain;
        background-image: url("./assets/group-6.png");
      }

      .top-banner{
        width: 100vw;
        height: 3.2407vh;
        padding: 0.313rem 4.875rem 0.188rem 2.125rem;
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        font-family: "Heebo", sans-serif;
        background-color: #128b57;
      } 

      .top-banner a:link{
        text-decoration: none;
        font-family: "Heebo", sans-serif;
        /* font-weight: bold; */
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;

      }
      
      #book-ticket-now::before{
        content: "BOOK TICKETS NOW" ;
        text-decoration: none;
        color: #fff;
      }

      #learn-more::before{
        content: "LEARN MORE" ;
        text-decoration: underline;
        color: #fff;
      }

      .hero{
        width: 100vw;
        height: 29.125rem;
        /* margin: 1.375rem 0 3.688rem; */
        /* padding: 0.688rem 1.25rem 3.75rem; */
        opacity: 0.9;
        background-color: #111;
      }

      .hero img{
        width: 100%;
        height: 29.125rem;
        position: absolute;
      }

      .footer{
        width: 100vw;
        height: 40.5rem;
        margin: 235.625rem 0 0;
        padding: 2.563rem 0 2.313rem;
        background-color: #063514;
      }

}

@media screen  and (width:1440px) {
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }

      .wrapper{
        width: 100vw;
        height: 214.625rem;
        margin: 0 0 43.75rem;
        padding: 0 0 1.063rem;
        object-fit: contain;
        background-image: url("./assets/group-6.png");
      }

      .top-banner{
        width: 100vw;
        height: 3.2407vh;
        padding: 0.625rem 3.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Heebo", sans-serif;
        background-color: #128b57;
      } 

      .top-banner a:link{
        text-decoration: none;
        font-family: "Heebo", sans-serif;
        /* font-weight: bold; */
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;

      }
      
      #book-ticket-now::before{
        content: "ANNOUNCEMENT BANNER" ;
        text-decoration: none;
        color: #fff;

        width: 17.063rem;
        height: 0.938rem;
        margin: 0 4.625rem 0 0;
        font-family: Inter;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
      }

      #learn-more::before{
        content: "LEARN MORE" ;
        text-decoration: underline;
        color: #fff;

        width: 17.063rem;
        height: 0.938rem;
        margin: 0 4.625rem 0 0;
        font-family: Inter;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
      }

      #help::before{
        content: "CHARGE ACCOUNTS";
        color: #fff;

        width: 8.688rem;
        height: 0.938rem;
        margin: 0 2.5rem 0 4.625rem;
        font-family: Inter;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;

      }

      #signup::before{
        content: "CAREERS";
        color: #fff;

        width: 4rem;
        height: 0.938rem;
        margin: 0 2.5rem;
        font-family: Inter;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
      }
      
      #login::before{
        content: "DONATIONS";
        color: #fff;

        width: 5.125rem;
        height: 0.938rem;
        margin: 0 0 0 2.5rem;
        font-family: Inter;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
      }

      .hero{
        width: 100vw;
        height: 50rem;
        margin: 0 0 4.938rem;
        padding: 0 0 10.375rem;
        object-fit: contain;
        opacity: 0.9;
        background-color: #111;
      }

      .hero img{
        width: 100%;
        height: 50rem;
        position: absolute;
      }

      .footer{
        width: 100vw;
        height: 44.813rem;
        margin: 213.563rem 0 0;
        padding: 5.063rem 3.25rem 4.375rem 1.5rem;
        background-color: #063514;
      }

    
}

@media screen  and (min-width:1441px){
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }
      
      .wrapper{
        width: 100vw;
        height: 213.563rem;
        object-fit: contain;
        background-image: url("./assets/group-6.png");

      }

      .top-banner{
        width: 100vw;
        height: 3.2407vh;
        padding: 0 20.625rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Heebo", sans-serif;
        background-color: #128b57;
      } 

      .top-banner a:link{
        text-decoration: none;
        outline: none;
        border: none;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #fff;
        
      }
      
      #book-ticket-now::before{
        content: "BOOK TICKETS NOW" ;
        color: #fff;
      }

      .top-banner-right{
        /* width:30%; */
        display: flex;
        justify-content: space-around;
      }

      #help::before{
        content: "HELP";
        color: #fff;

        width: 2.125rem;
        height: 1.125rem;
        margin: 0 3.688rem 0 5.188rem;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        /* text-align: right; */
        
      }

      #signup::before{
        content: "SIGN UP";
        color: #fff;

        width: 2.813rem;
        height: 1.125rem;
        margin: 0 5.125rem 0 3.688rem;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        /* text-align: right; */
        
      }

      #login::before{
        content: "LOGIN";
        color: #fff;

        width: 2.5rem;
        height: 1.125rem;
        margin: 0 0 0 3.125rem;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        /* text-align: right; */
        
      }



      .hero{
        width: 100vw;
        height: 60rem;
        margin: 0.125rem 0 4.938rem;
        /* padding: 14.313rem 5.5rem 11.375rem 3.75rem; */
        opacity: 1;
        background-color: #111;
      }
      
      .hero img{
        width: 100%;
        height: 60rem;
        position: absolute;
      }
      
      .hero-top{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content:center;
        padding: 0 541px;
        position: relative;
        color: #fff;
      }

      .hero-top-left{
        border-bottom: 1px solid white;
        text-align: right;
        display: flex;
        align-items: center;
      }

      #camping{
        border: none;
        background: transparent;
        color: #fff;

        /* width: 9.188rem;
        height: 1.188rem; */
        /* margin: 0 1.438rem 0 0; */
        font-family: "Heebo", sans-serif;
        /* font-size: 0.813rem; */
        font-size: 1.2rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.08px;
        text-align: center;
        

      }

      .hero-top-center{
        text-align: center;
        display: flex;
        align-items: center;
      }

      #explore::before{
        content: "EXPLORE";
        color: #fff;

        /* width: 3.938rem;
        height: 1.188rem; */
        margin: 0 3.938rem 1.375rem 1.75rem;
        font-family: "Heebo", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.08px;
        /* text-align: center; */
  
      }

      #tickets{
        /* width: 5.75rem;
        height: 1.188rem; */
        margin: 0 1.125rem 0 0;
        font-family: "Heebo", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.08px;
        /* text-align: center; */
        color: #fff;
        background: transparent;
        border: none;
      }

      .hero-top-right{
        border-bottom: 1px solid white;
        text-align: left;
      }
      
      .hero-bottom{
        width: 100%;
        height: 80%;
        padding:  0 541px;
        position: relative;
        color: #fff;
        font-size: 16px;
      }
      .Lorem-Epsum-Dolo{
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;
      }

      .squamish-valley{
        text-transform: uppercase;
      }

      .footer{
        width: 100vw;
        height: 44.813rem;
        background-color: #063514;
        margin: 213.563rem 0 0;
        padding: 0 20.625rem;
      }
}

