@media screen  and (min-width:320) and (max-width:480px) and (orientation : portrait){
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }


}

@media screen  and (width:1440px) and (orientation : portrait){
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }

    
}

@media screen  and (min-width:1440px) and (orientation : portrait){
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }

      .top-banner{
        width: 100vw;
        height: 3.2407vh;
        background-color: #128b57;
      } 

      .hero{
        width: 100vw;
        height: 73.8889vh;
        margin: 2px 0 79px;
        /* padding: 229px 888px 182px 540px; */
        opacity: 0.9;
        background-color: #111;
      }

      .hero img{
        width: 100%;
        height: 100%;
      }
}

